
@{
    Layout = null;
}
@model Cgpp_ServiceRequest.Models.UserRoleViewModel
@using Microsoft.AspNet.Identity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManageUserRoles2</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Register</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/Content/assets/img/cgpp-2.png" rel="icon">


    <link href="/Content/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Vendor CSS Files -->
    <link href="/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/toastr.css" rel="stylesheet" />
    <link href="/Content/custom.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="/Content/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <img src="/ServiceRequest/image/cgpp-2.png" class="rounded-circle mt-4" style=" width: 120px !important; height: 120px !important;" />
                            <h2 class="card-title m-3">Roles & Privileges</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        @if (Model != null)
        {
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                <img src="/ServiceRequest/image/person-icon-blue-7563.png" class="mt-4" style=" width: 120px !important; height: 120px !important;" />
                                <h2 class="card-title m-3 fa-2xl">@Model.UserName</h2>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <h4 class="card-title d-flex justify-content-center pt-3 pb-3 ms-0">
                                    Manage Roles
                                </h4>

                                @using (Html.BeginForm("UpdateRoles", "Roles", FormMethod.Post, new { @class = "form" }))
                                {
                                    @Html.HiddenFor(m => m.UserId)
                                    // @Html.HiddenFor(m => m.UserName)
                                    <div class="col-12">
                                        <div class="form-check" style="width: 190px; margin: 0 auto;  text-align: left; position: relative;  left: 0;  right: 0; padding-left: 3.5%;">
                                            @for (int i = 0; i < Model.UserRoles.Count; i++)
                                            {

                                                <div class="checkbox ">
                                                    @Html.CheckBoxFor(m => m.UserRoles[i].IsSelected, new { id = "userRoles_" + i })

                                                    @Html.HiddenFor(m => m.UserRoles[i].Id)
                                                    @Html.HiddenFor(m => m.UserRoles[i].Id)
                                                    @Html.DisplayFor(m => m.UserRoles[i].Name, new { @style = "position: relative;" })
                                                </div>
                                            }
                                            <input type="submit" value="Submit Role" class="btn btn-primary mt-3" />

                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</body>
</html>
<!-- Vendor JS Files -->
<script src="/Scripts/jquery-3.4.1.js"></script>
<script src="/Scripts/bootbox.js"></script>
<script src="/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/Scripts/toastr.js"></script>
<!-- Template Main JS File -->
<script src="/Content/assets/js/main.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: '/ServiceRequest/api/v1/roles/users',
            success: function (data) {
                // check data has content
                if (data.length > 0) {
                    console.log('data has content');
                } else {
                    // redirect to login page
                    /* window.location.href = "/CreateUser";*/
                }
            },
            //if failed
            error: function (data) {
                toastr.info("Success")
            }
        });

        $('#registerForm').submit(function (e) {
            e.preventDefault();
            var valdata = $(this).serialize();
            $.ajax({
                url: '/ServiceRequest/api/Account/RegisterDev',
                type: 'POST',
                data: valdata,
                success: function (data) {
                    $('#createModal').modal('hide');
                    setTimeout(function () {
                        toastr.success("Account Created Successfully");
                        // hide please wait modal
                    }, 2000),
                        setTimeout(function () {
                            window.location.href = "/ServiceRequest/Roles/DefaultRole";
                        }, 3000);
                },
                error: function (data) {
                    toastr.error('Error');
                }
            })
        });
    });
</script>