
@if (User.IsInRole("Technicians"))
{
    <div class="row dashboard">
        <div class="col-md-3">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <div class="ps-3 text-end justify-content-end">
                            <h6 id="usercount" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Total Users</small>
                            <span class="text-success small pt-1 fw-bold"> </span> <span class="text-muted small pt-2 ps-1"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-building"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="depcount" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Total Departments</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-pc-display"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="AssignedRequests" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Assigned Request</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card info-card revenue-card">


                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>

                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-list-ul"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="hardwareRequest" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Hardware Request</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Hardware Requests</h5>
                    <div class="table-responsive">
                        <table class="table table-condensed" id="hardwareProgrammer">
                            <thead>
                                <tr>
                                    <th>Ticket #</th>
                                    <th>Date Posted</th>
                                    <th>Full Name</th>
                                    <th>Department</th>
                                    <th>Division</th>
                                    <th>Software Service</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary" style="border-radius:20px;" onclick="location.href ='@Url.Action("Index","HardwareRequest")'">See all Activity</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Recent Activitiy</h5>

                    <table class="table table-condensed" id="userlogs">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Log</th>
                                <th>Date Activity</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary" style="border-radius:20px;" onclick="location.href ='@Url.Action("Activity","LoginActivity")'">See all Activity</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

}
@if (User.IsInRole("HardwareAdmin"))
{
    <div class="row dashboard">
        <div class="col-md-3">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <div class="ps-3 text-end justify-content-end">
                            <h6 id="usercount" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Total Users</small>
                            <span class="text-success small pt-1 fw-bold">  </span> <span class="text-muted small pt-2 ps-1"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-building"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="depcount" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Total Departments</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>

                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people-fill"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="Technician" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Total Technicians</small>

                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="card info-card revenue-card">


                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>

                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-list-ul"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="hardwareRequest" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Hardware Request</small>

                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Hardware Requests</h5>
                    <div class="table-responsive">
                        <table class="table table-condensed" id="hardwareAdminAllReq">
                            <thead>
                                <tr>
                                    <th>Ticket #</th>
                                    <th>Date Posted</th>
                                    <th>Full Name</th>
                                    <th>Department</th>
                                    <th>Division</th>
                                    <th>Hardware Category (Issue)</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary" style="border-radius:20px;" onclick="location.href ='@Url.Action("AdminRequestList","HardwareRequest")'">See all Activity</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Recent Activitiy</h5>

                    <table class="table table-condensed" id="userlogs">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Log</th>
                                <th>Date Activity</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary" style="border-radius:20px;" onclick="location.href ='@Url.Action("Activity","LoginActivity")'">See all Activity</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
@if (User.IsInRole("Programmers"))
{
    <div class="row dashboard">
        <div class="col-md-3">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <div class="ps-3 text-end justify-content-end">
                            <h6 id="usercount" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Total Users</small>
                            <span class="text-success small pt-1 fw-bold">  </span> <span class="text-muted small pt-2 ps-1"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-building"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="depcount" class="text-center"></h6>
                            <small style=" font-size:12px; color:gray;">Total Departments</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-window-plus"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="AssignedSoftware" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Assigned Request</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="dash-title"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-list-ul"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="softwareRequest" class="text-center"></h6>
                            <small style=" font-size:12px; color:gray;">Software Request</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Software Requests</h5>
                    <div class="table-responsive">
                        <table class="table table-condensed" id="softwareProgrammer">
                            <thead>
                                <tr>
                                    <th>Ticket #</th>
                                    <th>Date Assigned</th>
                                    <th>Full Name</th>
                                    <th>Department</th>
                                    <th>Division</th>
                                    <th>Software Category (Issue)</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary" style="border-radius:20px;" onclick="location.href ='@Url.Action("Index","SoftwareRequest")'">See all Activity</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Recent Activitiy</h5>

                    <table class="table table-condensed" id="userlogs">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Log</th>
                                <th>Date Activity</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary" style="border-radius:20px;" onclick="location.href ='@Url.Action("Activity","LoginActivity")'">See all Activity</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

}
@if (User.IsInRole("Technicians/Programmer"))
{
    <div class="row dashboard">
        <div class="col-md-3">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>

                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-list-ul"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="hardwareRequest" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">All Hardware Request</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-md-3">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-pc-display"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="AssignedRequests" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Assigned Hardware Request</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-md-3">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="dash-title"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-list-ul"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="softwareRequest" class="text-center"></h6>
                            <small style=" font-size:12px; color:gray;">All Software Request</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-window-plus"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="AssignedSoftware" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Assigned Software Request</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pb-0 mb-5">
                    <h5 class="card-title fw-semibold">Software Requests</h5>
                    <div class="table-responsive">
                        <table class="table table-condensed" id="softwareRequestAdmin">
                            <thead>
                                <tr>
                                    <th>Ticket #</th>
                                    <th>Date Posted</th>
                                    <th>Full Name</th>
                                    <th>Department</th>
                                    <th>Division</th>
                                    <th>Software Service</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pb-0 mb-5">
                    <h5 class="card-title fw-semibold">Hardware Requests</h5>
                    <div class="table-responsive">
                        <table class="table table-condensed" id="hardwareProgrammer">
                            <thead>
                                <tr>
                                    <th>Ticket #</th>
                                    <th>Date Posted</th>
                                    <th>Full Name</th>
                                    <th>Department</th>
                                    <th>Division</th>
                                    <th>Software Service</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Recent Activitiy</h5>

                    <table class="table table-condensed" id="userlogs">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Log</th>
                                <th>Date Activity</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary" style="border-radius:20px;" onclick="location.href ='@Url.Action("Activity","LoginActivity")'">See all Activity</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

}
@if (User.IsInRole("SoftwareAdmin") || User.IsInRole("Programmer/Admin"))
{
    <div class="row dashboard">
        <div class="col-md-3">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <div class="ps-3 text-end justify-content-end">
                            <h6 id="usercount" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Total Users</small>
                            <span class="text-success small pt-1 fw-bold">  </span> <span class="text-muted small pt-2 ps-1"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-building"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="depcount" class="text-center"></h6>
                            <small style=" font-size:12px; color:gray;">Total Departments</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="dash-title"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people-fill"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="ProgCount" class="text-center" s></h6>
                            <small style=" font-size:12px; color:gray;">Total Programmers</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="dash-title"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-list-ul"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="softwareRequest" class="text-center"></h6>
                            <small style=" font-size:12px; color:gray;"> Software Request</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Software Requests</h5>
                    <div class="table-responsive">
                        <table class="table table-condensed" id="softwareRequestAdmin">
                            <thead>
                                <tr>
                                    <th>Ticket #</th>
                                    <th>Date Posted</th>
                                    <th>Full Name</th>
                                    <th>Department</th>
                                    <th>Division</th>
                                    <th>Software Service</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary" style="border-radius:20px;" onclick="location.href ='@Url.Action("Admin","SoftwareRequest")'">See all Activity</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Recent Activitiy</h5>
                    <table class="table table-condensed" id="userlogs">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Log</th>
                                <th>Date Activity</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary text-white" style="border-radius:20px;" onclick="location.href ='@Url.Action("Activity","LoginActivity")'">See all Activity</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

}
@if (User.IsInRole("Developer") || User.IsInRole("SuperAdmin"))
{
    <div class="row dashboard">
        <div class="col-md-3">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <div class="ps-3 text-end justify-content-end">
                            <h6 id="usercount" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Total Users</small>
                            <span class="text-success small pt-1 fw-bold">  </span> <span class="text-muted small pt-2 ps-1"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-building"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="depcount" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Total Departments</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-pc-display"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="hardwareRequest" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Total Hardware Request</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-window-plus"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="softwareRequest" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Total Software Request</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pb-5">
                    <h5 class="card-title fw-semibold">Software Requests</h5>
                    <div class="table-responsive">
                        <table class="table table-condensed" id="softwareRequestAdmin">
                            <thead>
                                <tr>
                                    <th>Ticket #</th>
                                    <th>Date Posted</th>
                                    <th>Full Name</th>
                                    <th>Department</th>
                                    <th>Division</th>
                                    <th>Software Service</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pb-5">
                    <h5 class="card-title fw-semibold">Hardware Requests</h5>
                    <div class="table-responsive">
                        <table class="table table-condensed" id="hardwareAdminAllReq">
                            <thead>
                                <tr>
                                    <th>Ticket #</th>
                                    <th>Date Posted</th>
                                    <th>Full Name</th>
                                    <th>Department</th>
                                    <th>Division</th>
                                    <th>Hardware Category (Issue)</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Recent Activities</h5>
                    <div class="table-responsive">
                        <table class="table table-condensed" id="activityLogs">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Log</th>
                                    <th>Date Activity</th>
                                    <th>Department</th>
                                    <th>Division</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary" style="border-radius:20px;" onclick="location.href ='@Url.Action("Index","LoginActivity")'">See all Activity</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
@if (User.IsInRole("Users"))
{
    <div class="row dashboard">
        <div class="col-md-6">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-pc-display"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="hardwareuser" class="text-center mt-4"></h6>
                            <small style=" font-size:12px; color:gray;">Total Hardware Request</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="card-title text-center"></h5>
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-layout-text-window-reverse"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="softwareuser" class="text-center mt-3"></h6>
                            <small style=" font-size:12px; color:gray;">Total Software Request</small>

                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div><!-- End Revenue Card -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card table-responsive">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Hardware</h5>
                    <div class="table-responsive">
                        <table class="table table-condensed" id="UserhardwareRequest">
                            <thead>
                                <tr>
                                    <th>Ticket No.</th>
                                    <th>Date Reported</th>
                                    <th>Hardware Service</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary" style="border-radius:20px;" onclick="location.href ='@Url.Action("HardwareRequestList","HardwareRequest")'">See all Activity</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card table-responsive">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Software</h5>
                    <div class="table-responsive">
                        <table class="table table-condensed" id="UsersoftwareRequest">
                            <thead>
                                <tr>
                                    <th>Ticket No.</th>
                                    <th>Date Reported</th>
                                    <th>Software Service</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary text-white" style="border-radius:20px;" onclick="location.href ='@Url.Action("RequestList","SoftwareRequest")'">See all Activity</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Recent Activitiy</h5>

                    <table class="table table-condensed" id="userlogs">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Remarks</th>
                                <th>Date Activity</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary" style="border-radius:20px;" onclick="location.href ='@Url.Action("Activity","LoginActivity")'">See all Activity</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

}
@if (User.IsInRole("DivisionApprover"))
{
    <div class="row dashboard">
        <div class="col-md-4">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <div class="ps-3 text-end justify-content-end">
                            <h6 id="divUsers" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Total Division Users</small>
                            <span class="text-success small pt-1 fw-bold">  </span> <span class="text-muted small pt-2 ps-1"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card info-card customers-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-motherboard"></i>
                        </div>
                        <div class="ps-3 text-end justify-content-end">
                            <h6 id="hardwareReqsdiv" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Hardware Request</small>
                            <span class="text-success small pt-1 fw-bold">  </span> <span class="text-muted small pt-2 ps-1"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-pc-display"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="allDivisionReq" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Software Request</small>
                            <span class="text-danger small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card table-responsive">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Software</h5>
                    <div class="table-responsive">
                        <table class="table table-condensed" id="userDivisionReqSoftware">
                            <thead>
                                <tr>
                                    <th>Ticket #</th>
                                    <th>Date Posted</th>
                                    <th>Reported By</th>
                                    <th>Software Service</th>
                                    <th>Division</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary text-white" style="border-radius:20px;" onclick="location.href ='@Url.Action("Accepted","SoftwareRequest")'">See all Activity</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card table-responsive">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Hardware</h5>
                    <div class="table-responsive">
                        <table class="table table-condensed" id="userDivisionReqHardware">
                            <thead>
                                <tr>
                                    <th>Ticket #</th>
                                    <th>Date Posted</th>
                                    <th>Reported By</th>
                                    <th>Software Service</th>
                                    <th>Division</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary text-white" style="border-radius:20px;" onclick="location.href ='@Url.Action("AllRequestDivision","HardwareRequest")'">See all Activity</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Recent Activitiy</h5>
                    <div class="table-responsive">
                        <table class="table table-condensed" id="userlogs">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Log</th>
                                    <th>Date Activity</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary text-white" style="border-radius:20px;" onclick="location.href ='@Url.Action("Activity","LoginActivity")'">See all Activity</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
@if (User.IsInRole("DepartmentApprover"))
{
    <div class="row dashboard">
        <div class="col-md-4">
            <div class="card info-card sales-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <div class="ps-3 text-end justify-content-end">
                            <h6 id="deptUsers" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Total Department Users</small>
                            <span class="text-success small pt-1 fw-bold">  </span> <span class="text-muted small pt-2 ps-1"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card info-card customers-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-motherboard"></i>
                        </div>
                        <div class="ps-3 text-end justify-content-end">
                            <h6 id="hardwareReqsdept" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Hardware Request</small>
                            <span class="text-success small pt-1 fw-bold">  </span> <span class="text-muted small pt-2 ps-1"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card info-card revenue-card">
                <div class="card-body">
                    <h5 class="dash-title text-center"></h5>
                    <div class="d-flex justify-content-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-pc-display"></i>
                        </div>
                        <div class="ps-3">
                            <h6 id="allDepartmentReq" class="text-center"></h6>
                            <small style="font-size:12px; color:gray;">Software Request</small>
                            <span class="text-success small pt-1 fw-bold"></span> <span class="text-muted small pt-2 ps-1"></span>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card table-responsive">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Software</h5>
                    <div class="table-responsive">
                        <table class="table table-condensed" id="UsersoftwareRequestDepartment">
                            <thead>
                                <tr>
                                    <th>Ticket #</th>
                                    <th>Date Posted</th>
                                    <th>Reported by</th>
                                    <th>Software Service</th>
                                    <th>Division</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary text-white" style="border-radius:20px;" onclick="location.href ='@Url.Action("Accepted","SoftwareRequest")'">See all Activity</button>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-12">
            <div class="card table-responsive">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Hardware</h5>
                    <div class="table-responsive">
                        <table class="table table-condensed" id="UserhardwareRequestDepartment">
                            <thead>
                                <tr>
                                    <th>Ticket #</th>
                                    <th>Date Posted</th>
                                    <th>Reported by</th>
                                    <th>Software Service</th>
                                    <th>Division</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary text-white" style="border-radius:20px;" onclick="location.href ='@Url.Action("Accepted","SoftwareRequest")'">See all Activity</button>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pb-0">
                    <h5 class="card-title fw-semibold">Recent Activitiy</h5>
                    <div class="table-responsive">
                        <table class="table table-condensed" id="userlogs">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Log</th>
                                    <th>Date Activity</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-end m-3">
                        <button type="button" class="btn btn-primary text-white" style="border-radius:20px;" onclick="location.href ='@Url.Action("Activity","LoginActivity")'">See all Activity</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
@section scripts {
    <script>
        $(document).ready(function () {
            DashBoard();
            Count();
        });
    </script>
}
